/* body{margin-top:20px;} */

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 700px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}

.my_msgs {
    background-color: #66f;
    color: #fff;
}

/* Style the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style the dropdown button */
.drop_btn {
  background-color: #FD434F;
  color: #fff;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: -12px;
  border-radius: 8px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 8px 8px;
  text-decoration: none;
  display: block !important;
  margin: auto 0;
}

.dropdown-content img {
    width: 40px;
    height: 40px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drop_btn {
  background-color: #f9f9f9;
}

.dropdown-content li {
  display: inline-block;
}

@media screen and (min-width: 1920px) {
  .chat-messages {
    max-height: 100%;
  }
}

@keyframes fadeInAndUp {
    from { opacity: 0; transform: translateY(12px); }
    to { opacity: 1; transform: translateY(0px); }
}

.fade-in-up {
    animation: fadeInAndUp 0.6s ease;
}